*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f2f2f2;
}

.top{

background:#8b0000;
color:white;
padding:20px;
text-align:center;

}

nav{

display:flex;
justify-content:center;
flex-wrap:wrap;
background:#003399;

}

nav a{

color:white;
text-decoration:none;
padding:15px 20px;
font-weight:bold;

}

nav a:hover{

background:red;

}

.hero{

background:white;
padding:40px;
text-align:center;

}

.grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
padding:20px;

}

.card{

background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.2);

}

.card h2{

background:#8b0000;
color:white;
padding:10px;
margin:-20px -20px 20px;

}

.card ul li{

padding:10px;
border-bottom:1px solid #ddd;

}

footer{

background:#003399;
color:white;
text-align:center;
padding:20px;
margin-top:20px;

}

.breaking-news{
background:#ffeb3b;
padding:10px;
font-weight:bold;
}

.search-box{
text-align:center;
padding:20px;
background:white;
}

.search-box input{
width:300px;
padding:12px;
border:1px solid #ccc;
border-radius:5px;
}

.search-box button{
padding:12px 20px;
background:#8b0000;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
}

.search-box button:hover{
background:#003399;
}

.info-section{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(400px,1fr));

gap:20px;

padding:20px;

}

.info-box{

background:white;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,.2);

padding:20px;

}

.info-box h2{

background:#003399;

color:white;

padding:10px;

margin:-20px -20px 20px;

}

.info-box ul{

list-style:none;

}

.info-box ul li{

padding:12px;

border-bottom:1px solid #ddd;

}

.info-box a{

text-decoration:none;

color:black;

font-weight:bold;

}

.info-box a:hover{

color:red;

}
.quick-links{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:15px;
padding:20px;
}

.box{
display:flex;
justify-content:center;
align-items:center;
height:80px;
font-size:20px;
font-weight:bold;
text-decoration:none;
color:white;
border-radius:10px;
transition:.3s;
}

.box:hover{
transform:scale(1.05);
}

.red{
background:#d32f2f;
}

.blue{
background:#1976d2;
}

.green{
background:#388e3c;
}

.orange{
background:#f57c00;
}

.purple{
background:#7b1fa2;
}

.maroon{
background:#8b0000;
}
.course-home{
padding:30px;
text-align:center;
}

.course-home h2{
margin-bottom:20px;
color:#8B0000;
}

.course-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.course-box{
background:#fff;
padding:20px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,.15);
}

.course-box h3{
margin-bottom:10px;
}

.course-box p{
font-size:18px;
color:#008000;
font-weight:bold;
}

.course-box a{
display:inline-block;
margin-top:15px;
background:#8B0000;
color:#fff;
padding:10px 20px;
text-decoration:none;
border-radius:6px;
}

.course-box a:hover{
background:#003399;
}
